<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
<!--        <package name="sjdbc.sharding.table.springboot.entity"/>-->
        <typeAlias alias="LouDong" type="sjdbc.sharding.table.springboot.entity.LouDong"/>
        <typeAlias alias="User" type="sjdbc.sharding.table.springboot.entity.User"/>

    </typeAliases>
    <mappers>
        <mapper resource="mappers/LouDong.xml"/>
        <mapper resource="mappers/LouDong.xml"/>
    </mappers>
</configuration>
